<a href="https://colab.research.google.com/github/yuvarajmadugu/Data-Analytics/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#EXPERIMENT NUMBER 1:

import pandas as pd
import numpy as np
# Sample student database with missing CGPA values and redundancy
data = {
"Student_ID": [101, 102, 103, 104, 105, 106, 107, 108],
"Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah"],
"CGPA": [7.5, np.nan, 8.2, 5.9, 7.1, 6.5, 7.9, np.nan],
"Backlogs": [0, 1, 0, 2, 0, 1, 0, 0]
}
# Convert data into a DataFrame
df = pd.DataFrame(data)
# 1. Adding a noisy value before handling missing values
df.loc[2, "CGPA"] = 100 # Adding a noisy value for Charlie
# 2. Handling Missing Values
df["CGPA"].fillna(df["CGPA"].mean(), inplace=True)
# 3. Noise Detection and Removal
df = df[df["CGPA"] <= 10] # Remove CGPA > 10 (invalid noise)
# 4. Redundancy Elimination
df = pd.concat([df, df.iloc[[0]]], ignore_index=True) # Adding a duplicate record for Alice
df.drop_duplicates(keep="first", inplace=True) # Removing duplicate rows
# Output the final cleaned dataset
print("\nCleaned Student Database:")
print(df)

Cleaned Student Database:
   Student_ID   Name  CGPA  Backlogs
0         101  Alice   7.5         0
1         104  David   5.9         2
2         105    Eve   7.1         0
3         106  Frank   6.5         1
4         107  Grace   7.9         0

<ipython-input-2-aa28bfaff57b>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CGPA"].fillna(df["CGPA"].mean(), inplace=True)

In [3]:
#EXPERIMENT NUMBER 2:

# Step 1: Import Required Libraries
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

# Step 2: Create a Sample Dataset with Missing Values
data = {'Customer_ID': [101, 102, 103, 104, 105],
        'Age': [25, np.nan, 30, np.nan, 40],  # Missing values
        'Annual_Income': [40000, 50000, np.nan, 70000, 80000],  # Missing values
        'Spending_Score': [60, 80, 75, 90, 50]}

df = pd.DataFrame(data)

# Display dataset before imputation
print("Original Dataset with Missing Values:\n", df)

# Step 3: Apply KNN Imputation
knn_imputer = KNNImputer(n_neighbors=2)  # Using 2 nearest neighbors
df[['Age', 'Annual_Income']] = knn_imputer.fit_transform(df[['Age', 'Annual_Income']])

# Step 4: Display Dataset After Imputation
print("\nDataset after KNN Imputation:\n", df)

# Step 5: Verify Missing Values
print("\nMissing Values Count After Imputation:\n", df.isnull().sum())

Original Dataset with Missing Values:
    Customer_ID   Age  Annual_Income  Spending_Score
0          101  25.0        40000.0              60
1          102   NaN        50000.0              80
2          103  30.0            NaN              75
3          104   NaN        70000.0              90
4          105  40.0        80000.0              50

Dataset after KNN Imputation:
    Customer_ID   Age  Annual_Income  Spending_Score
0          101  25.0        40000.0              60
1          102  32.5        50000.0              80
2          103  30.0        60000.0              75
3          104  32.5        70000.0              90
4          105  40.0        80000.0              50

Missing Values Count After Imputation:
 Customer_ID       0
Age               0
Annual_Income     0
Spending_Score    0
dtype: int64